/*************************************************************************************************
 *   	FredLab Projects Incorporated
 *                Projet :   FredLab
 *                  Page :   candidat.css
 *                Chemin :   http://www.fred-lab.com/config/css/candidat.css
 *                  Type :   page de modules
 * 				Contexte :	 Css 3.0
 *              Fonction :   page de styles d'affichage CSS (candidat.php)
 *   Date mise en oeuvre :   13/11/2019
 *          Dernière MàJ :   18/12/2019
 *************************************************************************************************/
/***** ***** ***** Containers ***** ***** *****/

/***** ***** ***** Classes et balises ***** ***** *****/
.logo{
	height: 35px;
	width: 35px;
}
.doc-icon-cell,
#rowlinkedin,#profil,
#resumate div,#resumate p,
#seclinkedin{
	background-color: transparent;
}
.doc-icon-cell{
	border: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#seclinkedin{
	display: none;
}
#rowlinkedin{
	margin-top: 20px;
}
#linkedin{
	background-color: transparent;
	padding: 0px;
	margin: 0px;
}
#linkedin div,#resumate{
	background-color: #222;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border: 2px outset #046259;
	box-shadow: 1px 1px 3px #046259;
}
#linkedin a{
	padding-left: 14px;
	padding-right: 14px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	font-family: "Abel";
	font-size: 14px;
	font-weight: bold;
	color: #C1C1C1;
	text-shadow: 1px 1px 3px #007083;
}
#linkedin a:hover{
	background-color: #777;
	color: #007083;
	text-shadow: 1px 1px 3px #000;
}
#linkedin div div{
	border: none;
	box-shadow: none;
}
#resumate{
	display: flex;
	justify-content: center;
	align-items: stretch;
	padding-top: 10px;
	padding-bottom: 10px;
}
#resumate div{
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Abel";
	font-size: 14px;
	font-weight: bold;
	color: #C1C1C1;
	text-shadow: 1px 1px 3px #007083;
}
#bref{
	opacity: 1;
	background-color: #C1C1C1;
	background-image: url("../../media/pics/evolution.jpg");
	background-size: 250px 100px;
	-webkit-background-size: 250px 100px;
	background-repeat: no-repeat;
    background-position-x: 20%;
	background-position-y: bottom;
    background-attachment: auto;
	padding: 15px 50px 5px 50px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	padding-bottom: 100px;
	color: #002A3A;
}
#bref p{
	background-color: transparent;
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 5px 0px;
	text-align: left;
	font-family: "Belligerent";
	font-size: 18px;
	line-height: 30px;
}
.text-lighter{
	color: #007083;
}
#bref p::first-letter {
	margin: 0px 3px 0px 0px;
	font-size: 30px;
	color: #002A3D;
	text-shadow: 2px 2px 4px #037A63;
}
#bref blockquote{
	display: none;
	background-color: transparent;
	padding: 20px 20px 0px 20px;
	margin: 50px -30px 10px 0px;
	text-align: right;
	font-family: "SecretTypewriter";
	font-size: 20px;
	font-weight: bold;	
	font-style: italic;
	line-height: 10px;
	color: #002A3D;
	text-shadow: 2px 2px 4px #037A63;
}
#cv{
	margin-top: 15px;
}
.can_docitem{
	padding-top: 5px;
	margin-bottom: 10px;
}
.cell-link-cvpages{
	padding-top: 10px;
	display: inline;
	text-align: center;
	vertical-align: middle;
	border-radius: 25px;
}
.cdtrubtitle,.cdtrubtitle-on{
	cursor: pointer;
	opacity: 0.8;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "CaptureIt";
	font-size: 12px;
	letter-spacing: 0.085em;
	-webkit-font-smoothing: antialiased;
	transition-property: all;
	transition-duration: 1250ms;
	-o-transition-property: all;
	-o-transition-duration: 1250ms;
	-moz-transition-property: all;
	-moz-transition-duration: 1250ms;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1250ms;
}
.cdtrubtitle{
	padding-top: 5px;
	margin-bottom: 10px;
	background-color: hsl(150, 31%, 35%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#abd3bf", endColorstr="#3d7459");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#abd3bf), to(#3d7459));
	background-image: -moz-linear-gradient(top, #abd3bf, #3d7459);
	background-image: -ms-linear-gradient(top, #abd3bf, #3d7459);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #abd3bf), color-stop(100%, #3d7459));
	background-image: -webkit-linear-gradient(top, #abd3bf, #3d7459);
	background-image: -o-linear-gradient(top, #abd3bf, #3d7459);
	background-image: linear-gradient(#abd3bf, #3d7459);
	border-color: #3d7459 #3d7459 hsl(150, 31%, 25%);
	box-shadow: 6px 4px 12px #000000;
	border-left: 1px outset #000000;
	border-top: 1px outset #000000;
	border-bottom: 1px inset #444444;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: #002A3D;
	text-shadow: 2px 2px 4px #037A63;
}
.cdtrubtitle:hover{
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	background-color: hsl(150, 7%, 24%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bdc6c1", endColorstr="#38413d");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#bdc6c1), to(#38413d));
	background-image: -moz-linear-gradient(top, #bdc6c1, #38413d);
	background-image: -ms-linear-gradient(top, #bdc6c1, #38413d);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bdc6c1), color-stop(100%, #38413d));
	background-image: -webkit-linear-gradient(top, #bdc6c1, #38413d);
	background-image: -o-linear-gradient(top, #bdc6c1, #38413d);
	background-image: linear-gradient(#bdc6c1, #38413d);
	border-color: #38413d #38413d hsl(150, 7%, 11%);
	color: #009DA5;
	text-shadow: 2px 2px 3px #000000;
	box-shadow: 6px 4px 12px #037A63;
}
.cdtrubtitle-on{
	background-color: hsl(150, 7%, 24%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bdc6c1", endColorstr="#38413d");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#bdc6c1), to(#38413d));
	background-image: -moz-linear-gradient(top, #bdc6c1, #38413d);
	background-image: -ms-linear-gradient(top, #bdc6c1, #38413d);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bdc6c1), color-stop(100%, #38413d));
	background-image: -webkit-linear-gradient(top, #bdc6c1, #38413d);
	background-image: -o-linear-gradient(top, #bdc6c1, #38413d);
	background-image: linear-gradient(#bdc6c1, #38413d);
	border-color: #38413d #38413d hsl(150, 7%, 11%);
	color: #000;
	text-shadow: 2px 2px 4px #037A63;
	border-radius: 25px;
}
.linkcv{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Belligerent";
	font-size: 20px;
	color: #002A3A;
	text-shadow: 2px 2px 4px #037A63;
	letter-spacing: 0.09em;
}
/***** ***** ***** Section Chronologie ***** ***** *****/
#chr_content .row,
#chr_articles .row,
.chr_imgcell{
	padding: 10px 10px 10px 10px;
	background-color: transparent;
}
#chr_content,
#chr_articles,
#chr_articles article{
	background-color: transparent;
}
#chrono .row{
	padding: 10px 10px 10px 10px;
}
.chr_text,
.chr_type,
[id*="act_infos"],
.act_rowinfos,
.act_rowinfos div{
	background-color: #999;
}
#chrono,
#chr_resume .row,
#chr_resume label,
#chr_articles article,
#chr_resume,
#chr_content,
[id*="act_infos"],
.art_row,
.art_row label,
.chr_type,
.chr_text,
.chr_reslabel{
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
#chr_articles article{
	border: 1px inset #002A3A;
	box-shadow: 4px 4px 8px #000;
}
#chr_articles article label,
#chr_resume,

.chr_type,
.chr_text{
	border: 1px inset #002A3A;
}
#chrono{
	opacity: 0.9;
	padding: 0px 10px 10px 10px;
	background-color: transparent;
}
.art_row,
#chr_resume .row{
	border: 2px inset #000;
	box-shadow: 4px 4px 8px #000;
	background-color: hsl(0, 0%, 12%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#999999", endColorstr="#1e1e1e");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#999999), to(#1e1e1e));
    background-image: -moz-linear-gradient(top, #999999, #1e1e1e);
    background-image: -ms-linear-gradient(top, #999999, #1e1e1e);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999999), color-stop(100%, #1e1e1e));
    background-image: -webkit-linear-gradient(top, #999999, #1e1e1e);
    background-image: -o-linear-gradient(top, #999999, #1e1e1e);
    background-image: linear-gradient(#999999, #1e1e1e);
    color: #C1C1C1 !important;
}
#chr_resume .row{
	padding: 10px 10px 10px 10px;
}
#chr_articles .row,
.art_row,.chr_details{
	display: flex;
	justify-content: center;
	align-items: stretch;
}
.chr_type,
.chr_imgcell,
.chr_olcell,
.chr_reslabel,
.row_time div{
	display: flex;
	justify-content: center;
	align-items: center;
}
#chr_articles article{
	margin-bottom: 20px;
	display: none;
}
#chr_resume label{
	padding: 14px 0px 14px 0px;
	border: 2px outset #000;
	background-color: hsl(0, 0%, 12%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#999999", endColorstr="#1e1e1e");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#999999), to(#1e1e1e));
    background-image: -moz-linear-gradient(top, #999999, #1e1e1e);
    background-image: -ms-linear-gradient(top, #999999, #1e1e1e);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999999), color-stop(100%, #1e1e1e));
    background-image: -webkit-linear-gradient(top, #999999, #1e1e1e);
    background-image: -o-linear-gradient(top, #999999, #1e1e1e);
    background-image: linear-gradient(#999999, #1e1e1e);
    -webkit-font-smoothing: antialiased;
    color: #C1C1C1 !important;
	text-shadow: 1px 1px 2px #000;
	font-family: "Desyrel";
	letter-spacing: 0.06em;
	line-height: -0.1em;
	font-size: 12px;
}
#chr_articles article label,.chr_reslabel{
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: hsl(0, 0%, 59%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#969696");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#f7f7f7), to(#969696));
	background-image: -moz-linear-gradient(top, #f7f7f7, #969696);
	background-image: -ms-linear-gradient(top, #f7f7f7, #969696);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #969696));
	background-image: -webkit-linear-gradient(top, #f7f7f7, #969696);
	background-image: -o-linear-gradient(top, #f7f7f7, #969696);
	background-image: linear-gradient(#f7f7f7, #969696);
	border: 1px outset #000;
	color: #333 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.62);
	font-family: "Acme";
	cursor: pointer;
	transition-property: all;
	transition-duration: 1250ms;
	-o-transition-property: all;
	-o-transition-duration: 1250ms;
	-moz-transition-property: all;
	-moz-transition-duration: 1250ms;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1250ms;
}
#chr_articles article label:hover,.chr_reslabel:hover{
	background-color: hsl(0, 0%, 12%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#999999", endColorstr="#1e1e1e");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#999999), to(#1e1e1e));
    background-image: -moz-linear-gradient(top, #999999, #1e1e1e);
    background-image: -ms-linear-gradient(top, #999999, #1e1e1e);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999999), color-stop(100%, #1e1e1e));
    background-image: -webkit-linear-gradient(top, #999999, #1e1e1e);
    background-image: -o-linear-gradient(top, #999999, #1e1e1e);
    background-image: linear-gradient(#999999, #1e1e1e);
    color: #C1C1C1 !important;
	text-shadow: 1px 1px 2px #000;
}
#chr_articles article label:hover{
	padding-top: 12px;
	padding-left: 12px;
}
.chr_reslabel{
	margin-bottom: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	box-shadow: 2px 2px 4px #000;
	font-size: 8px;
	line-height: 0.98em;
}
.chr_reslabel:hover{
	box-shadow: 1px 1px 2px #000;
}
#chr_articles article label{
	padding: 10px 6px 10px 6px;
	box-shadow: 4px 4px 8px #000;
}
#chr_articles article label:hover{
	box-shadow: 2px 2px 4px #000;
}
[id*="act_infos"],
.art_row label{
	border: 1px inset #002A3A;
}
[id*="act_infos"]{
	margin-top: 10px;
}
[id*="act_infos"] a,[id*="act_infos"] p{
	font-family: "SecretTypewriter";
	letter-spacing: 0.045em;
	color: #C1C1C1;
	text-shadow: 2px 2px 4px #009DA5;
}
[id*="act_infos"] p{
	color: #000;
	text-shadow: 2px 2px 4px #C1C1C1;
}
[id*="act_infos"] a{
	padding-bottom: 10px;
	text-decoration: underline;
	color: #000;
	text-shadow: 2px 2px 4px #009DA5;
	font-size: 8px;
	line-height: 1.15em;
	font-size: 9px;
}
[id*="act_infos"] a:hover{
	color: #C1C1C1;
	text-shadow: 2px 2px 4px #000;
}
.chr_type,.chr_date,.chr_lapse{
	font-family: "SecretTypewriter";
	letter-spacing: 0.045em;
	color: #000;
	text-shadow: 1px 1px 2px #C1C1C1;
	font-size: 9px;
}
.chr_lapse{
	display: flex;
	justify-content: center;
	align-items: center;
}
.chr_lapse,.chr_lapse span{
	vertical-align: middle;
}
.img_logo{
	border: 1px inset #002A3A;
	max-height: 40px;
	max-width: 40px;
}
.chr_text{
	margin-top: 10px;
	margin-right: 10px;
	padding: 4px 10px 4px 10px;
	font-family: "Acme";
	font-size: 8px;
	letter-spacing: 0.045em;
	color: #000;
	text-shadow: 1px 1px 2px #C1C1C1;
}
.chr_text a{
	font-size: 9px;
}
.chr_text ul{
	padding: 10px 4px 10px 4px;
	line-height: 0.95em;
}
.chr_text ul li{
	padding-bottom: 2px;
	padding: 4px 4px 4px 10px;
	line-height: 0.95em;
	text-align: left;
	font-size: 8px;
}
.chr_text ul ul{
	padding-left: 10px;
}
/***** ***** ***** Bannière frise chronologique ***** ***** *****/

/***** ***** ***** Section Thématique ***** ***** *****/
#thema{
	opacity: 0.9;
	background-color: #C1C1C1;
	padding: 10px 10px 10px 10px;
	border: 1px inset #002A3A;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 6px 4px 12px #000000;
	color: #002A3A;
	text-shadow: 1px 1px 3px #000;
}
#thema .row, #thema div{
	background-color: transparent;
}
#ocrLogo{
	padding-top: 30px;
	padding-bottom: 10px;
	height: 70px;
}
#miiLogo{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 80px;
}
.theRubTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	line-height: 60px;
	font-family: "CaptureIt";
	font-size: 34px;
	color: #002A3A;
	text-shadow: 1px 1px 3px #009DA5;
}
.subTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	margin-bottom: 10px;
	font-size: 24px;
}
.sublabel{
	padding: 10px 0px 10px 0px;
	margin-bottom: 16px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border: 1px outset #000;
	box-shadow: 4px 6px 8px #002A3A;
	background-color: hsl(0, 0%, 59%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#969696");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#f7f7f7), to(#969696));
	background-image: -moz-linear-gradient(top, #f7f7f7, #969696);
	background-image: -ms-linear-gradient(top, #f7f7f7, #969696);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #969696));
	background-image: -webkit-linear-gradient(top, #f7f7f7, #969696);
	background-image: -o-linear-gradient(top, #f7f7f7, #969696);
	background-image: linear-gradient(#f7f7f7, #969696);
	-webkit-font-smoothing: antialiased;
	font-family: "Magenta";
	font-size: 30px;
	color: #002A3D !important;
	text-shadow: 2px 2px 4px #009DA5;
	letter-spacing: 0.055em;
	transition-property: all;
	transition-duration: 1250ms;
	-o-transition-property: all;
	-o-transition-duration: 1250ms;
	-moz-transition-property: all;
	-moz-transition-duration: 1250ms;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1250ms;
}
.sublabel:hover{
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border: 1px inset #002A3D;
	box-shadow: 1px 1px 2px #000;
	background-color: hsl(0, 0%, 12%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#999999", endColorstr="#1e1e1e");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#999999), to(#1e1e1e));
    background-image: -moz-linear-gradient(top, #999999, #1e1e1e);
    background-image: -ms-linear-gradient(top, #999999, #1e1e1e);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999999), color-stop(100%, #1e1e1e));
    background-image: -webkit-linear-gradient(top, #999999, #1e1e1e);
    background-image: -o-linear-gradient(top, #999999, #1e1e1e);
    background-image: linear-gradient(#999999, #1e1e1e);
    color: #C1C1C1 !important;
	text-shadow: 1px 1px 2px #000;
}
.subcertif{
	display: none;
	margin: 10px 10px 20px 20px;
	padding: 10px 10px 10px 10px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border: 1px inset #000;
	box-shadow: 2px 4px 8px #000;
}
.certifLabel{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 4px 0px 4px 0px;
}
.certifLabel a{
	padding: 10px 16px 0px 16px;
	font-family: "Belligerent";
	font-size: 14px;
	letter-spacing: 0.04em;
	color: #000;
	text-shadow: 1px 1px 3px #555;
	transition-property: all;
	-moz-transition-property: all;
	-webkit-transition-property: all;
	transition-duration: 1250ms;
	-moz-transition-duration: 1250ms;
	-webkit-transition-duration: 1250ms;
}
.certifLabel a:hover{
	background-color: #999;
	color: #002A3A;
	text-shadow: 1px 1px 3px #009DA5;
	box-shadow: 1px 1px 3px #002A3A;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
.certifLabel a p{
	text-align: justify;
	vertical-align: middle;
}
.subTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
	font-family: "Belligerent";
	color: #002A3A;
	text-shadow: 1px 1px 3px #009DA5;
}
/* ** ** ** Bloc Domaines ** ** ** */
.domRow{
	margin: 6px 8px 0px 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px inset #555;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 1px 1px 3px #000;
	color: #000;
	text-shadow: 1px 1px 3px #555;
	transition-property: all;
	transition-duration: 1250ms;
	-o-transition-property: all;
	-o-transition-duration: 1250ms;
	-moz-transition-property: all;
	-moz-transition-duration: 1250ms;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1250ms;
}
.domRow:hover{
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border: 1px inset #002A3D;
	color: #002A3D;
	text-shadow: 2px 2px 4px #037A63;
	box-shadow: 1px 1px 3px #037A63;
	cursor: default;
}
.domIcon{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
}
.domName{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Vanilla";
	font-size: 14px;
	letter-spacing: 0.02em;
}
.domVersion{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: "SecretTypewriter";
	font-size: 14px;
	letter-spacing: 0.04em;
}
#vscLogo{
	max-height: 36px;
}
#jQLogo{
	max-height: 34px;
}
#javaBloc{
	margin-right: 30px;
	margin-bottom: 20px;
	padding-right: 30px;
}
.javaStep,.javaStep div,.javaStep div div{
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}
.javaStep{
	margin-bottom: 10px;
	border: 1px inset #000;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 1px 1px 3px #002A3A;
}
.javaSubtitle{
	font-family: "Vanilla";
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 0.03em;
	text-shadow: 1px 1px 3px #42dbd4;
}
.javaItem{
	font-family: "SecretTypewriter";
	font-size: 16px;
	font-weight: 500;
	color: #000;
	letter-spacing: 0.03em;
}
/* ** ** ** Bloc Formation ** ** ** */
#formationLabel{
	padding: 5px 0px 10px 0px;
}
#formationLabel a{
	font-family: "SecretTypewriter";
	letter-spacing: 0.04em;
	color: #002A3A;
	text-shadow: 1px 1px 3px #009DA5;
}
#formationLabel,#formationLabel a,#formationLocation,#formationLocation a{
	transition-property: all;
	transition-duration: 1250ms;
	-o-transition-property: all;
	-o-transition-duration: 1250ms;
	-moz-transition-property: all;
	-moz-transition-duration: 1250ms;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1250ms;
}
#formationLocation{
	padding: 10px 10px 0px 10px;
}
#formationLabel:hover,#formationLocation:hover{
	background-color: #666;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 1px 1px 3px #002A3A;
}
#formationLocation a{
	font-family: "SecretTypewriter";
	letter-spacing: 0.04em;
	color: #000;
	text-shadow: 1px 1px 3px #999;
}
#formationLabel a:hover,#formationLocation a:hover{
	color: #009DA5;
	text-shadow: 2px 2px 3px #000;
}
.formationText{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.itemLabel{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-family: "Belligerent";
	color: #002A3A;
	text-shadow: 1px 1px 3px #009DA5;
}
.itemText{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: "Belligerent";
	color: #000;
	text-shadow: 1px 1px 3px #999;
}
/* ** ** ** Fix pointeurs ** ** ** */
#formationLabel,#formationLocation,.formationText,.itemLabel,.itemText{
	cursor: default;
}
/* ** ** ** Boutons de bas de page ** ** ** */
.bottom-buttons{
	margin: 30px 0px 25px 0px;
}
.linktotop{
	transition-property: all;
	transition-duration: 1250ms;
	-o-transition-property: all;
	-o-transition-duration: 1250ms;
	-moz-transition-property: all;
	-moz-transition-duration: 1250ms;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1250ms;
}
.linktotop:hover{
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 2px 2px 4px #000;
}
/***** ***** ***** ***** ***** ***** ***** ***** *****/
/* * *** ***** ***** Media queries ***** ***** *** * */
/***** ***** ***** ***** ***** ***** ***** ***** *****/
/* *** *** *** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #bref p{
		font-size: 20px;
	}
	#bref blockquote{
		display: none;
	}
	.logo{
		height: 40px;
		width: 40px;
	}
	.cdtrubtitle{
		font-size: 16px;
	}
	#ocrLogo{
		height: 100px;
	}
	.subTitle{
		margin-top: 10px;
		font-size: 28px;
	}
	.sublabel{
		font-size: 32px;
	}
	.certifLabel a{
		font-size: 18px;
	}
	.domIcon,.domName,.domVersion{
		font-size: 18px;
	}
	.itemLabel,.itemText{
		font-size: 20px;
	}
	#linkedin a,#resumate div{
		font-size: 24px;
	}
	#chr_resume label{
		font-size: 18px;
	}
	.chr_reslabel{
		padding-top: 4px;
		padding-bottom: 4px;
		line-height: 0.99em;
		font-size: 11px;
	}
	#chr_articles article label{
		padding-top: 4px;
		padding-bottom: 4px;
	}
	.chr_type{
		font-size: 10px;
	}
	[id*="act_infos"] a{
		font-size: 9px;
		line-height: auto;
	}
	.chr_date{
		font-size: 8px;
	}
	.chr_lapse{
		font-size: 10px;
		letter-spacing: 0.015em;
	}
	.img_logo{
		max-height: 50px;
		max-width: 50px;
	}
	.chr_text{
		padding: 10px 30px 10px 10px;
	}
	.chr_text ul{
		padding-left: 40px;
		line-height: 1.25em;
	}
	.chr_text ul li,.chr_text a{
		font-size: 9px;
	}
	.chr_text ul li{
		text-align: justify;
	}
}
/* *** *** *** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#resumate .row div{
		font-size: 20px;
	}
    #bref{
		padding-bottom: 40px;
		}
	#bref p{
		font-size: 22px;
	}
	#bref p::first-letter {
		font-size: 34px;
	}
	#bref blockquote{
		display: block;
		font-size: 20px;
	}
	.linkcv{
		font-size: 24px;
	}
	.logo{
		height: 50px;
		width: 50px;
	}
	.sublabel{
		font-size: 36px;
	}
	.cdtrubtitle{
		font-size: 16px;
	}
	.cdtrubtitle{
		font-size: 18px;
	}
	.cdtrubtitle-on{
		font-size: 29px;
	}
	.certifLabel a{
		font-size: 22px;
	}
	#linkedin a,#resumate div{
		font-size: 24px;
	}
	#chr_resume label{
		font-size: 24px;
	}
	.chr_reslabel{
		padding-top: 8px;
		padding-bottom: 8px;
		line-height: auto;
		font-size: 14px;
	}
	[id*="act_infos"] a{
		font-size: 14px;
	}
	.chr_type{
		font-size: 14px;
	}
	.chr_text ul{
		font-size: 14px;
	}
	.chr_text ul li{
		font-size: 12px;
		padding-bottom: 4px;
		padding-top: 4px;
	}
	.chr_date{
		font-size: 12px;
	}
	.chr_lapse{
		font-size: 14px;
		letter-spacing: 0.025em;
	}
	.img_logo{
		max-height: 80px;
		max-width: 80px;
	}
}
/* *** *** *** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #bref{
        padding-bottom: 20px;
        }
        #bref p{
            font-size: 24px;
        }
        #bref p::first-letter {
            font-size: 40px;
        }
        #bref blockquote{
            font-size: 22px;
        }
        .cdtrubtitle{
            font-size: 24px;
		}
		.cdtrubtitle-on{
			font-size: 32px;
		}
		.subTitle{
			height: 60px;
			font-size: 32px;
		}
		.sublabel{
			font-size: 40px;
		}
		.itemLabel,.itemText{
			font-size: 24px;
		}
		#ocrLogo{
			padding-top: 0px;
		}
		#chr_resume label{
			font-size: 26px;
		}
		#chr_resume label{
			font-size: 34px;
		}
		#chr_articles article label{
			font-size: 26px;
		}
		[id*="act_infos"] a{
			font-size: 22px;
		}
		.chr_type,.chr_lapse{
			font-size: 20px;
		}
		.chr_date{
			font-size: 16px;
		}
		.img_logo{
			max-height: 120px;
			max-width: 120px;
		}
		.chr_text ul li{
			line-height: 1em;
			padding-bottom: 6px;
			padding-top: 6px;
			font-size: 18px;
			letter-spacing: 0.065em;
		}
}
/* *** *** *** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #bref p{
		font-size: 26px;
    }
    .cdtrubtitle{
		font-size: 26px;
	}
	.cdtrubtitle-on{
		font-size: 36px;
	}
	.theRubTitle{
		font-size: 38px;
	}
	.subTitle{
		font-size: 34px;
	}
	.sublabel{
		font-size: 44px;
	}
	.domName{
		font-size: 19px;
	}
	#formationLabel{
		font-size: 22px;
	}
	#formationLocation{
		font-size: 20px;
	}
	.itemLabel,.itemText{
		font-size: 20px;
	}
	/***** ***** ***** Section Chronologie ***** ***** *****/
	#chr_articles article label{
		font-size: 40px;
	}
	#chr_resume label{
		font-size: 40px;
	}
	.chr_type{
		font-size: 24px;
	}
	[id*="act_infos"] a,[id*="act_infos"] p{
		font-size: 32px;
	}
	.chr_date{
		font-size: 22px;
	}
	.chr_lapse{
		font-size: 28px;
	}
	.img_logo{
		max-height: 140px;
		max-width: 180px;
	}
	.chr_text{
		font-size: 30px;
	}
	.chr_text ul li{
		font-size: 22px;
	}
}
/* Extra large devices (large desktops)
   No media query since the extra-large breakpoint has no upper bound on its width */