/*************************************************************************************************
 *   	FredLab Projects Incorporated
 *                Projet :   FredLab
 *                  Page :   coding.css
 *                Chemin :   http://www.fred-lab.com/config/css/coding.css
 *                  Type :   page de modules
 * 				Contexte :	 Css 3.0
 *              Fonction :   page de styles d'affichage CSS (coding.php)
 *   Date mise en oeuvre :   10/12/2019
 *          Dernière MàJ :   11/12/2019
 *************************************************************************************************/
/***** ***** ***** Containers ***** ***** *****/
#sec_codingmain{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0px 20px 10px 20px;
    padding-bottom: 10px;
    border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
/***** ***** ***** Classes et balises ***** ***** *****/

/***** ***** ***** Vue principale ***** ***** *****/
#cod_toolbox,#cod_ressources,
.tbx_links,#cod_toolbox a,#cod_ressources a
{
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.tbx_links,#cod_toolbox a,#cod_ressources a
{
	transition-property: all;
	transition-duration: 1250ms;
	-o-transition-property: all;
	-o-transition-duration: 1250ms;
	-moz-transition-property: all;
	-moz-transition-duration: 1250ms;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1250ms;
}
#sec_codingmain label{
    background-color: transparent;
}
#cod_toolbox,
#cod_ressources{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px outset #002A3A;
    box-shadow: 2px 2px 4px #037A63;
}
#cod_toolbox label,
#cod_ressources label{
    font-family: "OldStamper";
    font-size: 36px;
    color: #002A3A;
}
.tbx_links{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px inset #002A3A;
}
#cod_toolbox a,
#cod_ressources a{
    padding: 6px 12px 6px 12px;
    font-family: "Belligerent";
    font-size: 34px;
    color: #002A3D;
}
.tbx_links:hover{
    background-color: #555;
}
#cod_toolbox a:hover,
#cod_ressources a:hover{
    background-color: #333;
    color: #037A63;
    text-shadow: 2px 2px 4px #002A3A;;
}
/***** ***** ***** Vue : webfonts ***** ***** *****/
#wft_main,#wft_main article,
#wft_welcome,#wft_welcome article,#wft_welcome div,
#wft_welcome label,#wft_welcome ul,#wft_welcome li,
.page-explain-license,.page-explain-label,#sec_webfonts label{
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: default;
}
.wft_link,#wft_main a,#wft_welcome li span{
    transition-property: all;
	transition-duration: 1250ms;
	-o-transition-property: all;
	-o-transition-duration: 1250ms;
	-moz-transition-property: all;
	-moz-transition-duration: 1250ms;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1250ms;
}
#sec_webfonts label{
    opacity: 0.9;
    padding-top: 14px;
    padding-bottom: 20px;
    background-color: hsl(96, 0%, 20%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2b2b2", endColorstr="#333333");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#b2b2b2), to(#333333));
    background-image: -moz-linear-gradient(top, #b2b2b2, #333333);
    background-image: -ms-linear-gradient(top, #b2b2b2, #333333);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2b2b2), color-stop(100%, #333333));
    background-image: -webkit-linear-gradient(top, #b2b2b2, #333333);
    background-image: -o-linear-gradient(top, #b2b2b2, #333333);
    background-image: linear-gradient(#b2b2b2, #333333);
    border-color: #333333 #333333 hsl(96, 0%, 7.5%);
    color: #000 !important;
    -webkit-font-smoothing: antialiased;
    font-family: "3Dumb";
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.055em;
    text-shadow: none;
    border: 1px inset #000;
    box-shadow: 1px 1px 2px #000;
}
#wft_main{
    opacity: 0.9;
    background-color: transparent;
}
#wft_welcome{
    background-color: #777;
    border: 2px inset #002A3D;
    box-shadow: 1px 1px 2px #000;
}
#wft_welcome li{
    background-color: transparent;
    border: none;
}
#wft_welcome li span{
    padding: 10px 20px 10px 20px;
}
#wft_welcome li span:hover{
    background-color: #037A63;
    color: #002A3D;
}
#wft_main article,#wft_welcome article,#wft_welcome .row{
    margin: 10px 10px 10px 10px;
}
#wft_welcome,#wft_welcome article{
    margin: 20px 20px 20px 20px;
}
#wft_welcome label,.page-explain-label,.page-explain-license{
    display: flex;
	justify-content: center;
    align-items: center;
    background-color: #C1C1C1;
    border: 1px inset #002A3D;
    font-family: "3Dumb";
    font-weight: bold;
    text-shadow: none;
}
#wft_welcome label{
    padding-top: 10px;
    padding-bottom: 10px;
	font-size: 18px;
    letter-spacing: 0.05em;
}
.page-explain-label{
	padding: 10px 0px 10px 0px;
	font-size: 18px;
	letter-spacing: 0.1em;
}
.page-explain-license{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -0.55em;
	writing-mode: vertical-rl;
	text-orientation: upright;
    border: 1px inset #002A3D;
}
.wft_infos,.wft_example{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px inset #002A3D;
}
.wft_infos,.wft_infos .row,.wft_index{
    border-top-left-radius: 25px;
}
.badge_custom,.bdg_custitem{
    background-color: #002A3D;
    color: #037A63;
    text-shadow: 1px 1px 2px #555;
    box-shadow: 1px 1px 2px #037A63;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.badge_custom{
    font-size: 12px;
}
.bdg_custitem{
    font-size: 6px;
}
.wft_index{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}
.wft_name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "WalkwayBlack";
    font-size: 18px;
    letter-spacing: 0.05em;
}
.wft_link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0px 2px 0px;
    background-color: hsl(96, 0%, 20%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2b2b2", endColorstr="#333333");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#b2b2b2), to(#333333));
    background-image: -moz-linear-gradient(top, #b2b2b2, #333333);
    background-image: -ms-linear-gradient(top, #b2b2b2, #333333);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2b2b2), color-stop(100%, #333333));
    background-image: -webkit-linear-gradient(top, #b2b2b2, #333333);
    background-image: -o-linear-gradient(top, #b2b2b2, #333333);
    background-image: linear-gradient(#b2b2b2, #333333);
    border-color: #333333 #333333 hsl(96, 0%, 7.5%);
    color: #002A3A !important;
    text-shadow: 1px 1px 2px #037A63;
    -webkit-font-smoothing: antialiased;
    border: 1px inset #002A3A;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 1px 1px 2px #000;
}
#wft_main a{
    font-family: "WalkwayBlack";
    font-size: 14px;
}
.wft_link:hover{
    background-color: hsl(0, 0%, 12%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#999999", endColorstr="#1e1e1e");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#999999), to(#1e1e1e));
    background-image: -moz-linear-gradient(top, #999999, #1e1e1e);
    background-image: -ms-linear-gradient(top, #999999, #1e1e1e);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999999), color-stop(100%, #1e1e1e));
    background-image: -webkit-linear-gradient(top, #999999, #1e1e1e);
    background-image: -o-linear-gradient(top, #999999, #1e1e1e);
    background-image: linear-gradient(#999999, #1e1e1e);
    border-color: #1e1e1e #1e1e1e hsl(0, 0%, 0%);
    -webkit-font-smoothing: antialiased;
    color: #C1C1C1 !important;
    text-shadow: 1px 1px 2px #000;
}
#wft_main a:hover{
    color: #C1C1C1;
    text-shadow: 1px 1px 2px #000;
}
.wft_example{
    background-color: #C1C1C1;
    border-bottom-right-radius: 25px;
}
.wft_example p{
    font-size: 12px;
}
.squirrel_link{
    display: flex;
	justify-content: center;
	align-items: center;
}
/***** ***** ***** ***** ***** ***** ***** ***** *****/
/* * *** ***** ***** Media queries ***** ***** *** * */
/***** ***** ***** ***** ***** ***** ***** ***** *****/
/* *** *** *** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #sec_webfonts label{
        font-size: 32px;
    }
    #wft_welcome label{
        font-size: 28px;
    }
    .page-explain-label,.page-explain-license{
        font-size: 28px;
    }
    .badge_custom{
        font-size: 28px;
    }
    .bdg_custitem{
        font-size: 14px;
    }
    .wft_name{
        font-size: 26px;
    }
    #wft_main a{
        font-size: 28px;
    }
    .wft_example p{
        font-size: 18px;
    }
}
/* *** *** *** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #sec_webfonts label{
        font-size: 40px;
    }
    #wft_welcome label{
        font-size: 28px;
    }
    .page-explain-label,.page-explain-license{
        font-size: 28px;
    }
    .badge_custom{
        font-size: 28px;
    }
    .bdg_custitem{
        font-size: 18px;
    }
    #wft_main a{
        font-size: 28px;
    }
    .wft_example p{
        font-size: 22px;
    }
}
/* *** *** *** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #sec_webfonts label{
        font-size: 50px;
    }
    #wft_welcome label{
        font-size: 28px;
    }
    .page-explain-label,.page-explain-license{
        font-size: 28px;
    }
    .page-explain-license{
        padding-bottom: 10px;
    }
    .badge_custom{
        font-size: 28px;
    }
    #wft_main a{
        font-size: 28px;
    }
    .wft_example p{
        font-size: 22px;
    }
}
/* *** *** *** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #sec_webfonts label{
        font-size: 54px;
        padding-top: 18px;
        padding-bottom: 24px;
    }
    #wft_welcome label{
        font-size: 28px;
    }
    .page-explain-label,.page-explain-license{
        font-size: 28px;
    }
    .badge_custom{
        font-size: 28px;
    }
    #wft_main a{
        font-size: 28px;
    }
    .wft_example p{
        font-size: 22px;
    }
}
/* Extra large devices (large desktops)
   No media query since the extra-large breakpoint has no upper bound on its width */