/**************************************************************************************************
 *   	FredLab Projects Incorporated
 *                Projet :   FredLab
 *                  Page :   coding.css
 *                Chemin :   http://www.fred-lab.com/config/css/coding.css
 *                  Type :   page de modules
 * 				Contexte :	 Css 3.0
 *              Fonction :   page de styles d'affichage CSS (coding.php)
 *   Date mise en oeuvre :   10/12/2019
 *          Dernière MàJ :   15/12/2019
 **************************************************************************************************/
/***** ***** ***** Containers ***** ***** *****/
#sec_codingmain{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0px 20px 10px 20px;
    padding-bottom: 10px;
    border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
/***** ***** ***** Classes et balises ***** ***** *****/

/***** ***** ***** Vue principale ***** ***** *****/
#cod_toolbox,#cod_ressources,
.tbx_links,#cod_toolbox a,
#cod_ressources li{
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.tbx_links,#cod_toolbox a,
#cod_ressources li{
	transition-property: all;
	transition-duration: 1250ms;
	-o-transition-property: all;
	-o-transition-duration: 1250ms;
	-moz-transition-property: all;
	-moz-transition-duration: 1250ms;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1250ms;
}
#sec_codingmain label{
    background-color: transparent;
    text-shadow: 1px 1px 3px #037A63;
}
#cod_toolbox,
#cod_ressources{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px outset #002A3A;
    box-shadow: 2px 2px 4px #037A63;
}
#cod_toolbox label,
#cod_ressources label{
    padding-bottom: 10px;
    font-family: "CaptureIt";
    font-size: 36px;
    color: #002A3A;
}
.tbx_links{
    margin-top: 10px;
}
#cod_toolbox a,#cod_ressources li{
    padding: 6px 12px 6px 12px;
    background-color: hsl(150, 22%, 12%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#699f84", endColorstr="#17251e");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#699f84), to(#17251e));
	background-image: -moz-linear-gradient(top, #699f84, #17251e);
	background-image: -ms-linear-gradient(top, #699f84, #17251e);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #699f84), color-stop(100%, #17251e));
	background-image: -webkit-linear-gradient(top, #699f84, #17251e);
	background-image: -o-linear-gradient(top, #699f84, #17251e);
	background-image: linear-gradient(#699f84, #17251e);
	border-color: #17251e #17251e hsl(150, 22%, 2%);
	-webkit-font-smoothing: antialiased;
	box-shadow: 2px 2px 4px #037A63;
	border-left: 1px outset #002A3A;
	border-top: 1px outset #002A3A;
	border-bottom: 1px inset #444;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: #002A3D !important;
    font-family: "Belligerent";
    font-size: 34px;
    text-shadow: 1px 1px 2px #037A63;
}
#cod_toolbox a:hover,
#cod_ressources li:hover{
    background-color: hsl(0, 0%, 0%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8e8e8e", endColorstr="#000000");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#8e8e8e), to(#000000));
    background-image: -moz-linear-gradient(top, #8e8e8e, #000000);
    background-image: -ms-linear-gradient(top, #8e8e8e, #000000);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8e8e8e), color-stop(100%, #000000));
    background-image: -webkit-linear-gradient(top, #8e8e8e, #000000);
    background-image: -o-linear-gradient(top, #8e8e8e, #000000);
    background-image: linear-gradient(#8e8e8e, #000000);
    border-color: #000000 #000000 hsl(0, 0%, -14%);
    box-shadow: 3px 3px 8px #000;
    color: #037A63 !important;
    text-shadow: 1px 1px 2px #000;;
}
#cod_ressources ul{
    margin-top: 0px;
    list-style: none;
}
#cod_ressources li{
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px inset #002A3A;
}
/***** ***** ***** Vue : webfonts ***** ***** *****/
#wft_main,#wft_main article,
#wft_welcome article,
#wft_welcome label,#wft_welcome ul,#wft_welcome li,
.page-explain-license,.page-explain-label,#sec_webfonts label{
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: default;
}
.wft_link,#wft_main a,#wft_welcome li span,
#wft_welclose{
    transition-property: all;
	transition-duration: 1250ms;
	-o-transition-property: all;
	-o-transition-duration: 1250ms;
	-moz-transition-property: all;
	-moz-transition-duration: 1250ms;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1250ms;
}
#sec_webfonts label{
    opacity: 0.9;
    padding-top: 14px;
    padding-bottom: 20px;
    background-color: hsl(96, 0%, 20%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2b2b2", endColorstr="#333333");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#b2b2b2), to(#333333));
    background-image: -moz-linear-gradient(top, #b2b2b2, #333333);
    background-image: -ms-linear-gradient(top, #b2b2b2, #333333);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2b2b2), color-stop(100%, #333333));
    background-image: -webkit-linear-gradient(top, #b2b2b2, #333333);
    background-image: -o-linear-gradient(top, #b2b2b2, #333333);
    background-image: linear-gradient(#b2b2b2, #333333);
    color: #000 !important;
    -webkit-font-smoothing: antialiased;
    font-family: "3Dumb";
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.055em;
    text-shadow: none;
    border: 1px inset #000;
    box-shadow: 1px 1px 2px #000;
}
#wft_main{
    opacity: 0.9;
    background-color: transparent;
}
#wft_welcome{
    background-color: #777;
    border: 2px inset #002A3D;
    box-shadow: 1px 1px 2px #000;
}
#wft_welclose{
    display: flex;
	justify-content: center;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 20px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 30px;
    cursor: pointer;
}
#wft_welclose:hover{
    background-color: #333;
    color: #037A6D;
}
#wft_welcome li{
    background-color: transparent;
    border: none;
}
#wft_welcome li span{
    padding: 10px 20px 10px 20px;
}
#wft_welcome li span:hover{
    background-color: #037A63;
    color: #002A3D;
}
#wft_main article,#wft_welcome article,#wft_welcome .row{
    margin: 10px 10px 10px 10px;
}
#wft_welcome,#wft_welcome article{
    margin: 20px 20px 20px 20px;
}
#wft_welcome label,.page-explain-label,.page-explain-license{
    display: flex;
	justify-content: center;
    align-items: center;
    background-color: #C1C1C1;
    border: 1px inset #002A3D;
    font-family: "3Dumb";
    font-weight: bold;
    text-shadow: none;
}
#wft_welcome label{
    padding-top: 10px;
    padding-bottom: 10px;
	font-size: 18px;
    letter-spacing: 0.05em;
}
.page-explain-label{
	padding: 10px 0px 10px 0px;
	font-size: 18px;
	letter-spacing: 0.1em;
}
.page-explain-license{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -0.55em;
	writing-mode: vertical-rl;
	text-orientation: upright;
    border: 1px inset #002A3D;
}
.wft_infos,.wft_example{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px inset #002A3D;
}
.wft_infos,.wft_infos .row,.wft_index{
    border-top-left-radius: 25px;
}
.badge_custom,.bdg_custitem{
    background-color: #002A3D;
    color: #037A63;
    text-shadow: 1px 1px 2px #555;
    box-shadow: 1px 1px 2px #037A63;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.badge_custom{
    font-size: 12px;
}
.bdg_custitem{
    font-size: 6px;
}
.wft_index{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}
.wft_name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "WalkwayBlack";
    font-size: 18px;
    letter-spacing: 0.05em;
}
.wft_link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0px 2px 0px;
    background-color: hsl(96, 0%, 20%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2b2b2", endColorstr="#333333");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#b2b2b2), to(#333333));
    background-image: -moz-linear-gradient(top, #b2b2b2, #333333);
    background-image: -ms-linear-gradient(top, #b2b2b2, #333333);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2b2b2), color-stop(100%, #333333));
    background-image: -webkit-linear-gradient(top, #b2b2b2, #333333);
    background-image: -o-linear-gradient(top, #b2b2b2, #333333);
    background-image: linear-gradient(#b2b2b2, #333333);
    border-color: #333333 #333333 hsl(96, 0%, 7.5%);
    color: #002A3A !important;
    text-shadow: 1px 1px 2px #037A63;
    -webkit-font-smoothing: antialiased;
    border: 1px inset #002A3A;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 1px 1px 2px #000;
}
#wft_main a{
    font-family: "WalkwayBlack";
    font-size: 14px;
}
.wft_link:hover{
    background-color: hsl(0, 0%, 12%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#999999", endColorstr="#1e1e1e");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#999999), to(#1e1e1e));
    background-image: -moz-linear-gradient(top, #999999, #1e1e1e);
    background-image: -ms-linear-gradient(top, #999999, #1e1e1e);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999999), color-stop(100%, #1e1e1e));
    background-image: -webkit-linear-gradient(top, #999999, #1e1e1e);
    background-image: -o-linear-gradient(top, #999999, #1e1e1e);
    background-image: linear-gradient(#999999, #1e1e1e);
    border-color: #1e1e1e #1e1e1e hsl(0, 0%, 0%);
    -webkit-font-smoothing: antialiased;
    color: #C1C1C1 !important;
    text-shadow: 1px 1px 2px #000;
}
#wft_main a:hover{
    color: #C1C1C1;
    text-shadow: 1px 1px 2px #000;
}
.wft_example{
    background-color: #C1C1C1;
    border-bottom-right-radius: 25px;
}
.wft_example p{
    font-size: 12px;
}
.squirrel_link{
    display: flex;
	justify-content: center;
	align-items: center;
}
/* * *** ***** ***** Section : liens utiles ***** ***** *** * */
#sec_utilslinks,#sec_utilslinks div,#sec_utilslinks label,#sec_utilslinks a{
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#sec_utilslinks,#sec_utilslinks label{
    border: 1px inset #000;
    box-shadow: 2px 2px 4px #037A6D;
}
#sec_utilslinks,#ulk_main,#sec_utilslinks .row,.ulk_types{
background-color: transparent;
}
#sec_utilslinks label,#sec_utilslinks a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ulk_list,.ulk_blank,
#sec_utilslinks a{
    margin-bottom: 10px;
}
#sec_utilslinks,#ulk_main,.ulk_referer{
    padding: 10px 10px 10px 10px;
}
#sec_utilslinks,.ulk_referer{
    display: none;
    opacity: 0.9;
}
#ulk_mainlabel,.ulk_typelabel{
    background-color: hsl(0, 0%, 34%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c6c6c6", endColorstr="#565656");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#c6c6c6), to(#565656));
    background-image: -moz-linear-gradient(top, #c6c6c6, #565656);
    background-image: -ms-linear-gradient(top, #c6c6c6, #565656);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c6c6c6), color-stop(100%, #565656));
    background-image: -webkit-linear-gradient(top, #c6c6c6, #565656);
    background-image: -o-linear-gradient(top, #c6c6c6, #565656);
    background-image: linear-gradient(#c6c6c6, #565656);
    border-color: #565656 #565656 hsl(0, 0%, 23%);
    -webkit-font-smoothing: antialiased;
    font-family: "Belligerent";
    letter-spacing: 0.055em;
    color: #002A3D !important;
}
#ulk_mainlabel{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    text-shadow: 2px 2px 4px #037A6D;
}
.ulk_reflabel{
    margin-top: 10px;
    padding: 6px 0px 6px 0px;
    background-color: hsl(150, 22%, 12%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#699f84", endColorstr="#17251e");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#699f84), to(#17251e));
	background-image: -moz-linear-gradient(top, #699f84, #17251e);
	background-image: -ms-linear-gradient(top, #699f84, #17251e);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #699f84), color-stop(100%, #17251e));
	background-image: -webkit-linear-gradient(top, #699f84, #17251e);
	background-image: -o-linear-gradient(top, #699f84, #17251e);
	background-image: linear-gradient(#699f84, #17251e);
	border-color: #17251e #17251e hsl(150, 22%, 2%);
	-webkit-font-smoothing: antialiased;
	box-shadow: 6px 4px 12px #000;
	border-left: 1px outset #000;
	border-top: 1px outset #000;
	border-bottom: 1px inset #444;
    color: #000 !important;
    font-family: "Belligerent";
    font-size: 20px;
    letter-spacing: 0.055em;
    text-shadow: 1px 1px 3px #777;
    transition-property: all;
	transition-duration: 1250ms;
	-o-transition-property: all;
	-o-transition-duration: 1250ms;
	-moz-transition-property: all;
	-moz-transition-duration: 1250ms;
	-webkit-transition-property: all;
    -webkit-transition-duration: 1250ms;
    cursor: pointer;
}
.ulk_reflabel:hover{
    background-color: hsl(0, 0%, 34%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c6c6c6", endColorstr="#565656");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#c6c6c6), to(#565656));
    background-image: -moz-linear-gradient(top, #c6c6c6, #565656);
    background-image: -ms-linear-gradient(top, #c6c6c6, #565656);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c6c6c6), color-stop(100%, #565656));
    background-image: -webkit-linear-gradient(top, #c6c6c6, #565656);
    background-image: -o-linear-gradient(top, #c6c6c6, #565656);
    background-image: linear-gradient(#c6c6c6, #565656);
    border-color: #565656 #565656 hsl(0, 0%, 23%);
    color: #037A6D !important;
    text-shadow: 2px 2px 4px #000;
}
.ulk_typelabel{
    padding: 2px 0px 2px 0px;
    margin-bottom: 0px;
    font-size: 18px;
    text-shadow: 1px 1px 3px #037A6D;
}
.ulk_official{
    background-color: #C1C1C1;
}
.ulk_official,.ulk_blank{
    padding: 6px 0px 6px 0px;
}
.ulk_list p,.ulk_blank{
    cursor: default;
}
#sec_utilslinks a{
    font-family: "Acme";
    font-size: 14px;
    color: #002A3D;
    text-shadow: none;
    text-decoration: underline;
}
#sec_utilslinks a:hover{
    background-color: #333;
    color: #0F8A8D;
    text-shadow: 1px 1px 3px #C1C1C1;
}
.ulk_blank,.ulk_list,.ulk_official{
    border: 1px inset #000;
    box-shadow: 1px 1px 3px #000;
}
.ulk_blank{
    font-family: "Acme";
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
    text-shadow: 1px 1px 2px #C1C1C1;
}
.ulk_list{
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0px 20px 0px 20px;
}
.ulk_list a{
    padding-top: 4px;
    background-color: #C1C1C1;
    box-shadow: 1px 1px 3px #000;
    letter-spacing: 0.045em;
}
.ulk_list p{
    text-align: justify;
    font-family: "Desyrel";
    letter-spacing: 0.045em;
}
/***** ***** ***** ***** ***** ***** ***** ***** *****/
/* * *** ***** ***** Media queries ***** ***** *** * */
/***** ***** ***** ***** ***** ***** ***** ***** *****/
/* *** *** *** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #sec_webfonts label{
        font-size: 32px;
    }
    #wft_welcome label{
        font-size: 28px;
    }
    .page-explain-label,.page-explain-license{
        font-size: 28px;
    }
    .badge_custom{
        font-size: 28px;
    }
    .bdg_custitem{
        font-size: 14px;
    }
    .wft_name{
        font-size: 26px;
    }
    #wft_main a{
        font-size: 28px;
    }
    .wft_example p{
        font-size: 18px;
    }
    #ulk_mainlabel{
        font-size: 30px;
    }
    .ulk_reflabel{
        font-size: 24px;
    }
    .ulk_typelabel{
        font-size: 20px;
    }
    #sec_utilslinks a,.ulk_blank{
        font-size: 18px;
    }
}
/* *** *** *** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #sec_webfonts label{
        font-size: 40px;
    }
    #wft_welcome label{
        font-size: 28px;
    }
    .page-explain-label,.page-explain-license{
        font-size: 28px;
    }
    .badge_custom{
        font-size: 28px;
    }
    .bdg_custitem{
        font-size: 18px;
    }
    #wft_main a{
        font-size: 28px;
    }
    .wft_example p{
        font-size: 22px;
    }
    #ulk_mainlabel{
        font-size: 36px;
    }
    .ulk_reflabel{
        font-size: 30px;
    }
    .ulk_typelabel{
        font-size: 24px;
    }
    #sec_utilslinks a,.ulk_blank{
        font-size: 20px;
    }
}
/* *** *** *** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #sec_webfonts label{
        font-size: 50px;
    }
    #wft_welcome label{
        font-size: 28px;
    }
    .page-explain-label,.page-explain-license{
        font-size: 28px;
    }
    .page-explain-license{
        padding-bottom: 10px;
    }
    .badge_custom{
        font-size: 28px;
    }
    #wft_main a{
        font-size: 28px;
    }
    .wft_example p{
        font-size: 22px;
    }
    #ulk_mainlabel{
        font-size: 40px;
    }
    .ulk_reflabel{
        font-size: 36px;
    }
    .ulk_typelabel{
        font-size: 28px;
    }
    #sec_utilslinks a,.ulk_blank{
        font-size: 24px;
    }
}
/* *** *** *** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #sec_webfonts label{
        font-size: 54px;
        padding-top: 18px;
        padding-bottom: 24px;
    }
    #wft_welcome label{
        font-size: 28px;
    }
    .page-explain-label,.page-explain-license{
        font-size: 28px;
    }
    .badge_custom{
        font-size: 28px;
    }
    #cod_toolbox label,#cod_ressources label{
    font-size: 34px;
    }
    #wft_main a{
        font-size: 28px;
    }
    .wft_example p{
        font-size: 22px;
    }
    #ulk_mainlabel{
        font-size: 46px;
    }
    .ulk_reflabel{
        font-size: 42px;
    }
    .ulk_typelabel{
        font-size: 28px;
    }
    #sec_utilslinks a,.ulk_blank{
        font-size: 26px;
    }
    .ulk_list p{
        font-size: 26px;
    }
}
/* Extra large devices (large desktops)
   No media query since the extra-large breakpoint has no upper bound on its width */