/*************************************************************************************************
 *   	FredLab Projetcs Incorporated
 *                Projet :   FredLab
 *                  Page :   general.css
 *                Chemin :   http://127.0.0.1:8080/FredLab/config/css/general.css
 *                  Type :   page de modules
 * 				Contexte :	 Css 3.0
 *              Fonction :   page de styles d'affichage CSS
 *   Date mise en oeuvre :   13/11/2019
 *          Dernière MàJ :   11/12/2019
 *************************************************************************************************/
/*
Palette

*/
 /***** ***** ***** Containers ***** ***** *****/
#site-container{
	opacity: 0.9;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
	-webkit-box-shadow: 6px 4px 12px #000000;
	-moz-box-shadow: 6px 4px 12px #000000;
	box-shadow: 6px 4px 12px #000000;
	border-left: 1px outset #000000;
	border-top: 1px outset #000000;
	border-bottom: 1px inset #444444;
}
/***** ***** ***** Webfonts ***** ***** *****/
@font-face{
	font-family: "2Dumb";
	src: url('../fonts/2dumb_regular/2Dumb-webfont.eot') format('eot'),
		 url('../fonts/2dumb_regular/2Dumb-webfont.woff') format('woff'),
		 url('../fonts/2dumb_regular/2Dumb-webfont.ttf') format('truetype'),
		 url('../fonts/2dumb_regular/2Dumb-webfont.svg') format('svg');
}
@font-face{
	font-family: "3Dumb";
	src: url('../fonts/3dumb_regular/3Dumb-webfont.eot') format('eot'),
		 url('../fonts/3dumb_regular/3Dumb-webfont.woff') format('woff'),
		 url('../fonts/3dumb_regular/3Dumb-webfont.ttf') format('truetype'),
		 url('../fonts/3dumb_regular/3Dumb-webfont.svg') format('svg');
}
@font-face{
	font-family: "Acme";
	src: url('../fonts/acme_regular/Acme-Regular-webfont.eot') format('eot'),
		 url('../fonts/acme_regular/Acme-Regular-webfont.woff') format('woff'),
		 url('../fonts/acme_regular/Acme-Regular-webfont.ttf') format('truetype'),
		 url('../fonts/acme_regular/Acme-Regular-webfont.svg') format('svg');
}
@font-face{
	font-family: "Alphaecho";
	src: url('../fonts/alphaecho_regular/alpha_echo-webfont.eot') format('eot'),
		 url('../fonts/alphaecho_regular/alpha_echo-webfont.woff') format('woff'),
		 url('../fonts/alphaecho_regular/alpha_echo-webfont.ttf') format('truetype'),
		 url('../fonts/alphaecho_regular/alpha_echo-webfont.svg') format('svg');
}
@font-face{									/* Belligerent */
	font-family: "Belligerent";
	src: url('../fonts/belligerentmadness_regular/belligerent-webfont.eot') format('eot'),
		 url('../fonts/belligerentmadness_regular/belligerent-webfont.woff') format('woff'),
		 url('../fonts/belligerentmadness_regular/belligerent-webfont.ttf') format('truetype'),
		 url('../fonts/belligerentmadness_regular/belligerent-webfont.svg') format('svg');
}
@font-face{
	font-family: "CaptureIt";
	src: url('../fonts/captureit_regular/Capture_it-webfont.eot') format('eot'),
		 url('../fonts/captureit_regular/Capture_it-webfont.woff') format('woff'),
		 url('../fonts/captureit_regular/Capture_it-webfont.ttf') format('truetype'),
		 url('../fonts/captureit_regular/Capture_it-webfont.svg') format('svg');
}
@font-face{
	font-family: "Desyrel";
	src: url('../fonts/desyrel_regular/desyrel-webfont.eot') format('eot'),
		 url('../fonts/desyrel_regular/desyrel-webfont.woff') format('woff'),
		 url('../fonts/desyrel_regular/desyrel-webfont.ttf') format('truetype'),
		 url('../fonts/desyrel_regular/desyrel-webfont.svg') format('svg');
}
@font-face{
	font-family: "District";
	src: url('../fonts/district_regular/District-webfont.eot') format('eot'),
		 url('../fonts/district_regular/District-webfont.woff') format('woff'),
		 url('../fonts/district_regular/District-webfont.ttf') format('truetype'),
		 url('../fonts/district_regular/District-webfont.svg') format('svg');
}
@font-face{
	font-family: "ImpactLabel";
	src: url('../fonts/impactlabel_regular/Impact_Label-webfont.eot') format('eot'),
		 url('../fonts/impactlabel_regular/Impact_Label-webfont.woff') format('woff'),
		 url('../fonts/impactlabel_regular/Impact_Label-webfont.ttf') format('truetype'),
		 url('../fonts/impactlabel_regular/Impact_Label-webfont.svg') format('svg');
}
@font-face{
	font-family: "Magenta";
	src: url('../fonts/magenta_regular/Magenta_BBT-webfont.eot') format('eot'),
		 url('../fonts/magenta_regular/Magenta_BBT-webfont.woff') format('woff'),
		 url('../fonts/magenta_regular/Magenta_BBT-webfont.ttf') format('truetype'),
		 url('../fonts/magenta_regular/Magenta_BBT-webfont.svg') format('svg');
}
@font-face{
	font-family: "NoteThis";
	src: url('../fonts/notethis_regular/Note_this-webfont.eot') format('eot'),
		 url('../fonts/notethis_regular/Note_this-webfont.woff') format('woff'),
		 url('../fonts/notethis_regular/Note_this-webfont.ttf') format('truetype'),
		 url('../fonts/notethis_regular/Note_this-webfont.svg') format('svg');
}
@font-face{
	font-family: "OldStamper";
	src: url('../fonts/oldstamper_regular/old_stamper-webfont.eot') format('eot'),
		 url('../fonts/oldstamper_regular/old_stamper-webfont.woff') format('woff'),
		 url('../fonts/oldstamper_regular/old_stamper-webfont.ttf') format('truetype'),
		 url('../fonts/oldstamper_regular/old_stamper-webfont.svg') format('svg');
}
@font-face{
	font-family: "SecretTypewriter";
	src: url('../fonts/secrettypewriter_regular/veteran_typewriter-webfont.eot') format('eot'),
		 url('../fonts/secrettypewriter_regular/veteran_typewriter-webfont.woff') format('woff'),
		 url('../fonts/secrettypewriter_regular/veteran_typewriter-webfont.ttf') format('truetype'),
		 url('../fonts/secrettypewriter_regular/veteran_typewriter-webfont.svg') format('svg');
}
@font-face{									/* TechniqueBrk */
	font-family: "TechniqueBrk";
	src: url('../fonts/techniquebrk_normal/techniqu-webfont.eot') format('eot'),
		 url('../fonts/techniquebrk_normal/techniqu-webfont.woff') format('woff'),
		 url('../fonts/techniquebrk_normal/techniqu-webfont.ttf') format('truetype'),
		 url('../fonts/techniquebrk_normal/techniqu-webfont.svg') format('svg');
}
@font-face{
	font-family: "Vanilla";
	src: url('../fonts/vanilla_regular/Vanilla-webfont.eot') format('eot'),
		 url('../fonts/vanilla_regular/Vanilla-webfont.woff') format('woff'),
		 url('../fonts/vanilla_regular/Vanilla-webfont.ttf') format('truetype'),
		 url('../fonts/vanilla_regular/Vanilla-webfont.svg') format('svg');
}
@font-face{
	font-family: "WalkwayBlack";
	src: url('../fonts/walkwayblack_regular/Walkway_Black-webfont.eot') format('eot'),
		 url('../fonts/walkwayblack_regular/Walkway_Black-webfont.woff') format('woff'),
		 url('../fonts/walkwayblack_regular/Walkway_Black-webfont.ttf') format('truetype'),
		 url('../fonts/walkwayblack_regular/Walkway_Black-webfont.svg') format('svg');
}
/***** ***** ***** Balises HTML ***** ***** *****/
body{
	background-image: url("../../media/pics/wsource-code.jpg");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
	background-color: #101010;
}
a{
	text-decoration: none;
	transition-property: color,text-shadow;
	transition-duration: 1550ms;
	font-family: "CaptureIt";
	color: #002A3D;
	font-size: 20px;
	text-shadow: 3px 3px 5px #046259;
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 1550ms;
	-moz-transition-duration: 1550ms;
	-o-transition-duration: 1550ms;
	transition-duration: 1550ms;
}
a:hover{
	text-decoration: none;
	color: #1333A4;
	text-shadow: 3px 2px 5px #2F7FC0;
}
/***** ***** ***** Titrages HTML ***** ***** *****/
h1,h2,h3,h4{
	background-color: transparent;
}
h1,h1 a{
	text-align: center;
	vertical-align: middle;
	margin: 20px 0px 15px 0px;
	font-family: "CaptureIt";
	font-size: 30px;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.08em;
	opacity: 1;
	color: #046259;
	text-shadow: 2px 2px 5px #000;
}
h2,h2 a{
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0px 10px 0px;
	font-family: "CaptureIt";
	font-size: 26px;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.08em;
	color: #046259;
	text-shadow: 2px 2px 5px #000;
}
h3,h3 a{
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0px 10px 0px;
	font-family: "CaptureIt";
	font-size: 22px;
	letter-spacing: 0.08em;
	-webkit-font-smoothing: antialiased;
	color: #046259;
	text-shadow: 2px 2px 5px #000;
}
h4,h4 a{
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "CaptureIt";
	font-size: 18px;
	letter-spacing: 0.08em;
	-webkit-font-smoothing: antialiased;
	color: #046259;
	text-shadow: 3px 3px 5px #002A3D;
}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover{
	color: #009DA5;
	text-shadow: 2px 2px 3px #000000;
}
/***** ***** ***** En-tête graphique ***** ***** *****/
#site-header{
	background-color: hsl(96, 0%, 20%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2b2b2", endColorstr="#333333");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#b2b2b2), to(#333333));
    background-image: -moz-linear-gradient(top, #b2b2b2, #333333);
    background-image: -ms-linear-gradient(top, #b2b2b2, #333333);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2b2b2), color-stop(100%, #333333));
    background-image: -webkit-linear-gradient(top, #b2b2b2, #333333);
    background-image: -o-linear-gradient(top, #b2b2b2, #333333);
    background-image: linear-gradient(#b2b2b2, #333333);
    border-color: #333333 #333333 hsl(96, 0%, 7.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.82);
    -webkit-font-smoothing: antialiased;
	-webkit-box-shadow: 6px 4px 12px #000000;
	-moz-box-shadow: 6px 4px 12px #000000;
	box-shadow: 6px 4px 12px #000000;
	border-left: 1px outset #000000;
	border-top: 1px outset #000000;
	border-bottom: 1px inset #444444;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	opacity: 0.85;
}
#tab-site-header{
	border: none;
	background-color: transparent;
	width: 90%;
}
#tab-site-header tr{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
}
#tab-site-header td{
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
	font-family: "TechniqueBrk";
	font-size: 36px;
	letter-spacing: 0.08em;
	color: #333;
	text-shadow: 4px 4px 7px #037A63;
}
.img-logosite{
	opacity: 0.8;
	height: 50px;
}
/***** ***** ***** Barres de navigation ***** ***** *****/
#navbarMain{
	z-index: 10;
	background-color: hsl(150, 22%, 12%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#699f84", endColorstr="#17251e");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#699f84), to(#17251e));
	background-image: -moz-linear-gradient(top, #699f84, #17251e);
	background-image: -ms-linear-gradient(top, #699f84, #17251e);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #699f84), color-stop(100%, #17251e));
	background-image: -webkit-linear-gradient(top, #699f84, #17251e);
	background-image: -o-linear-gradient(top, #699f84, #17251e);
	background-image: linear-gradient(#699f84, #17251e);
	border-color: #17251e #17251e hsl(150, 22%, 2%);
	-webkit-font-smoothing: antialiased;
	-webkit-box-shadow: 6px 4px 12px #000000;
	-moz-box-shadow: 6px 4px 12px #000000;
	box-shadow: 6px 4px 12px #000000;
	border-left: 1px outset #000000;
	border-top: 1px outset #000000;
	border-bottom: 1px inset #444444;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: #002A3D;
	text-shadow: 2px 2px 4px #037A63;
	padding-left: 0px;
	margin-top: 15px;
}
#navbarFullSite ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "TechniqueBrk";
}
.nav-item{
	padding-right: 10px;
}
.nav-item a{
	transition-property: all;
	transition-duration: 1250ms;
	-o-transition-property: all;
	-o-transition-duration: 1250ms;
	-moz-transition-property: all;
	-moz-transition-duration: 1250ms;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1250ms;
}
#navbarFullSite ul li a{
	color: #002A3A;
	font-size: 20px;
	text-shadow: 2px 2px 4px #009175;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	transition-property: all;
	transition-duration: 1250ms;
	-o-transition-property: all;
	-o-transition-duration: 1250ms;
	-moz-transition-property: all;
	-moz-transition-duration: 1250ms;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1250ms;
}
#navbarFullSite ul li a:hover{
	background-color: hsl(150, 5%, 35%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bcc2bf", endColorstr="#545d59");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#bcc2bf), to(#545d59));
	background-image: -moz-linear-gradient(top, #bcc2bf, #545d59);
	background-image: -ms-linear-gradient(top, #bcc2bf, #545d59);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcc2bf), color-stop(100%, #545d59));
	background-image: -webkit-linear-gradient(top, #bcc2bf, #545d59);
	background-image: -o-linear-gradient(top, #bcc2bf, #545d59);
	background-image: linear-gradient(#bcc2bf, #545d59);
	border-color: #545d59 #545d59 hsl(150, 5%, 25%);
	color: #037A63;
	text-shadow: 2px 2px 4px #000;
	-webkit-font-smoothing: antialiased;
}
.custom-dpdmenu{
	opacity: 1;
	background-color: hsl(150, 22%, 12%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#699f84", endColorstr="#17251e");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#699f84), to(#17251e));
	background-image: -moz-linear-gradient(top, #699f84, #17251e);
	background-image: -ms-linear-gradient(top, #699f84, #17251e);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #699f84), color-stop(100%, #17251e));
	background-image: -webkit-linear-gradient(top, #699f84, #17251e);
	background-image: -o-linear-gradient(top, #699f84, #17251e);
	background-image: linear-gradient(#699f84, #17251e);
	border-color: #17251e #17251e hsl(150, 22%, 2%);
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	-webkit-font-smoothing: antialiased;
	color: #002A3D;
	text-shadow: 2px 2px 4px #037A63;
}
/***** ***** ***** Boutons de navigation ***** ***** *****/

/***** ***** ***** Classes de mise en forme ***** ***** *****/
.no-bg-no-bd{
	background-color: transparent;
	border: none;
}
.box-shadow{
	box-shadow: 2px 2px 4px #000;
	-moz-box-shadow: 2px 2px 4px #000;
	-webkit-box-shadow: 2px 2px 4px #000;
}
/***** ***** ***** Footer html ***** ***** *****/
footer{
	z-index: 30;
	opacity: 0.85;
	width: 90%;
	margin-left: 5%;
	margin-top: 15px;
	position: relative;
	bottom: 0px;
	background-image: url("../../media/gifs/efBO7L.gif");
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-box-shadow: 6px 4px 12px #000;
	-moz-box-shadow: 6px 4px 12px #000;
	box-shadow: 6px 4px 12px #000;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border-left: 1px outset #000;
	border-top: 1px outset #000;
	border-bottom: 1px inset #444444;
	display: flex;
	justify-content: center;
	align-items: center;
}
#footer,#copy{
	background-color: transparent;
}
#footer{
	width: 100%;
	padding: 20px 30px 0px 40px;
}
#powering,#contacts{
	opacity: 0.65;
	background-color: transparent;
}
#contacts .row{
	display: flex;
	justify-content: center;
	align-items: stretch;
}
#footer article,#contacts label,#powering label{
	margin-bottom: 4px;
	padding: 4px 0px 4px 0px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
#contacts label,#powering label{
	background-color: hsl(150, 7%, 24%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bdc6c1", endColorstr="#38413d");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#bdc6c1), to(#38413d));
	background-image: -moz-linear-gradient(top, #bdc6c1, #38413d);
	background-image: -ms-linear-gradient(top, #bdc6c1, #38413d);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bdc6c1), color-stop(100%, #38413d));
	background-image: -webkit-linear-gradient(top, #bdc6c1, #38413d);
	background-image: -o-linear-gradient(top, #bdc6c1, #38413d);
	background-image: linear-gradient(#bdc6c1, #38413d);
	border-color: #38413d #38413d hsl(150, 7%, 11%);
	-webkit-font-smoothing: antialiased;
	color: #002A3A !important;
	text-shadow:  1px 1px 3px #000;
	font-family: "OldStamper";
	font-size: 28px;
	letter-spacing: 0.035em;
	box-shadow: 2px 2px 6px #000;
}
#contacts address{
	opacity: 0.85;
	padding-top: 2px; 
	padding-bottom: 2px;
	background-color: #777;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border: 1px outset #037A63;
	box-shadow: 1px 1px 3px #000;
}
#contacts address a{
	padding: 2px 10px 2px 10px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	font-family: "2Dumb";
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.085em;
	color: #002A3D;
	text-shadow: 2px 2px 4px #037A63;
}
#contacts address a:hover{
	background-color: #002A3D;
	color: #C1C1C1;
	text-shadow: 2px 2px 4px #037A63;
}
.site-author,.site-powering,.site-powering p{
	cursor: default;
}
.site-author{
	opacity: 0.7;
	margin-bottom: 0px;
	padding-bottom: 0px;
	background-color: transparent;
	font-family: "OldStamper";
	font-size: 14px;
	color: #C1C1C1;
	text-shadow: 2px 2px 4px #037A63;
}
.site-powering{
	opacity: 0.85;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 30px;
	margin-right: 30px;
	background-color: #777;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border: 1px outset #037A63;
	box-shadow: 1px 1px 3px #000;
	font-family: "SecretTypewriter";
	color: #002A3A;
	text-shadow: 2px 2px 4px #037A63;
}
.site-powering p{
	font-size: 18px;
}
.linktotop{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(150, 7%, 24%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bdc6c1", endColorstr="#38413d");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#bdc6c1), to(#38413d));
	background-image: -moz-linear-gradient(top, #bdc6c1, #38413d);
	background-image: -ms-linear-gradient(top, #bdc6c1, #38413d);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bdc6c1), color-stop(100%, #38413d));
	background-image: -webkit-linear-gradient(top, #bdc6c1, #38413d);
	background-image: -o-linear-gradient(top, #bdc6c1, #38413d);
	background-image: linear-gradient(#bdc6c1, #38413d);
	border-color: #38413d #38413d hsl(150, 7%, 11%);
	color: #333 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	-webkit-font-smoothing: antialiased;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	transition-property: all;
	transition-delay: 1550ms;
}
.linktotop:hover{
	-webkit-box-shadow: 2px 2px 4px #888888;
	-moz-box-shadow: 2px 2px 4px #888888;
	box-shadow: 2px 2px 4px #888888;
}
.linktotop a{
	-webkit-font-smoothing: antialiased;
	font-family: "CaptureIt";
	font-size: 12px;
	color: #002A3D;
	text-shadow: 2px 2px 4px #037A63;
	letter-spacing: 0.085em;
	transition-property: color,text-shadow;
	transition-duration: 1550ms;
}
.linktotop a:hover{
	color: #037A63;
	text-shadow: 2px 2px 3px #002A3D;
}
/*****  Boutons *****/

/*****  Classes persos Bootsrap-like *****/
.col-1-hidden, .col-2-hidden, .col-3-hidden, .col-4-hidden, .col-5-hidden, .col-6-hidden, .col-7-hidden, .col-8-hidden, .col-9-hidden, .col-10-hidden, .col-11-hidden, .col-12-hidden, .col-sm-1-hidden, .col-sm-2-hidden, .col-sm-3-hidden, .col-sm-4-hidden, .col-sm-5-hidden, .col-sm-6-hidden, .col-sm-7-hidden, .col-sm-8-hidden, .col-sm-9-hidden, .col-sm-10-hidden, .col-sm-11-hidden, .col-sm-12-hidden, .col-md-1-hidden, .col-md-2-hidden, .col-md-3-hidden, .col-md-4-hidden, .col-md-5-hidden, .col-md-6-hidden, .col-md-7-hidden, .col-md-8-hidden, .col-md-9-hidden, .col-md-10-hidden, .col-md-11-hidden, .col-md-12-hidden, .col-lg-1-hidden, .col-lg-2-hidden, .col-lg-3-hidden, .col-lg-4-hidden, .col-lg-5-hidden, .col-lg-6-hidden, .col-lg-7-hidden, .col-lg-8-hidden, .col-lg-9-hidden, .col-lg-10-hidden, .col-lg-11-hidden, .col-lg-12-hidden, .col-xl-1-hidden, .col-xl-2-hidden, .col-xl-3-hidden, .col-xl-4-hidden, .col-xl-5-hidden, .col-xl-6-hidden, .col-xl-7-hidden, .col-xl-8-hidden, .col-xl-9-hidden, .col-xl-10-hidden, .col-xl-11-hidden, .col-xl-12-hidden{
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	display: none;
}
.col-1-hidden:target, .col-2-hidden:target, .col-3-hidden:target, .col-4-hidden:target, .col-5-hidden:target, .col-6-hidden:target, .col-7-hidden:target, .col-8-hidden:target, .col-9-hidden:target, .col-10-hidden:target, .col-11-hidden:target, .col-12-hidden:target, .col-sm-1-hidden:target, .col-sm-2-hidden:target, .col-sm-3-hidden:target, .col-sm-4-hidden:target, .col-sm-5-hidden:target, .col-sm-6-hidden:target, .col-sm-7-hidden:target, .col-sm-8-hidden:target, .col-sm-9-hidden:target, .col-sm-10-hidden:target, .col-sm-11-hidden:target, .col-sm-12-hidden:target, .col-md-1-hidden:target, .col-md-2-hidden:target, .col-md-3-hidden:target, .col-md-4-hidden:target, .col-md-5-hidden:target, .col-md-6-hidden:target, .col-md-7-hidden:target, .col-md-8-hidden:target, .col-md-9-hidden:target, .col-md-10-hidden:target, .col-md-11-hidden:target, .col-md-12-hidden:target, .col-lg-1-hidden:target, .col-lg-2-hidden:target, .col-lg-3-hidden:target, .col-lg-4-hidden:target, .col-lg-5-hidden:target, .col-lg-6-hidden:target, .col-lg-7-hidden:target, .col-lg-8-hidden:target, .col-lg-9-hidden:target, .col-lg-10-hidden:target, .col-lg-11-hidden:target, .col-lg-12-hidden:target, .col-xl-1-hidden:target, .col-xl-2-hidden:target, .col-xl-3-hidden:target, .col-xl-4-hidden:target, .col-xl-5-hidden:target, .col-xl-6-hidden:target, .col-xl-7-hidden:target, .col-xl-8-hidden:target, .col-xl-9-hidden:target, .col-xl-10-hidden:target, .col-xl-11-hidden:target, .col-xl-12-hidden:target{
	display: block;
}
/***** ***** ***** Classes Bootstrap - mofifications ***** ***** *****/
[class*="col-"]{
	background-color: #777;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
}
[class="row"]{
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
}
/* *** *** *** Classes générales *** *** *** */
.no-bg-no-bd{						/* fond transparent, pas de bordure */
	background-color: transparent;
    border: none;
}
.no-bg{								/* fond transparent */
	background-color: transparent;
}
.no-bd{								/* pas de bordure */
	border: none;
}
.bxshadow{							/* bordures ombrées */
	-webkit-box-shadow: 2px 2px 4px #037A63;
	-moz-box-shadow: 2px 2px 4px #037A63;
	box-shadow: 2px 2px 4px #037A63;
}
.body-hr{
	width: 70%;
	height: 2px;
	background-color: #002A3A;
	-webkit-box-shadow: 2px 2px 4px #037A63;
	-moz-box-shadow: 2px 2px 4px #037A63;
	box-shadow: 2px 2px 4px #037A63;
	margin-bottom: 0px;
}
/* * *** ***** ***** Animation des couleurs ***** ***** *** * */
@keyframes wheelHueGreen{
    from, to { color: hsl(174, 95%, 30%);}
    10%      { color: hsl(174, 95%, 26%);}
    20%      { color: hsl(174, 95%, 22%);}
    30%      { color: hsl(174, 95%, 18%);}
    40%      { color: hsl(174, 95%, 14%);}
    50%      { color: hsl(174, 95%, 18%);}
    60%      { color: hsl(174, 95%, 22%);}
    70%      { color: hsl(174, 95%, 26%);}
    80%      { color: hsl(174, 95%, 30%);}
    90%      { color: hsl(174, 95%, 34%);}
}
.animated-green{
    color: hsl(174, 95%, 10%);
    animation: wheelHueGreen 90s infinite;
}
/***** ***** ***** Page d'accueil ***** ***** *****/
#secAccueilTitle,#secAccueilTitle div,
#accWelcome,#accWelcomeSub,
#accLogo_cell{
	background-color: transparent;
}
#accWelcome,#accWelcomeSub{
	opacity: 0.9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Magenta";
	letter-spacing: 0.08em;
	text-shadow: 2px 2px 4px #000;
}
#accLogo_cell{
	display: flex;
	justify-content: center;
	align-items: center;
}
#accWelcome{
	margin-top: 20px;
	font-size: 40px;
}
#accWelcome,#accWelcomeSub,
#acc_welcometext,#acc_welcometext p{
	cursor: default;
}
#accWelcomeSub{
	font-size: 32px;
	letter-spacing: 0.05em;
}
#acc_welcometext{
	opacity: 0.85;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 20px 20px 20px 20px;
	background-color: #53966C;
	border: 3px outset #002A3D;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	-webkit-box-shadow: 6px 4px 12px #000;
	-moz-box-shadow: 6px 4px 12px #000;
	box-shadow: 6px 4px 12px #000;
	font-family: "2Dumb";
	font-size: 16px;
	letter-spacing: 0.09em;
	text-align: center;
	color: #002A3D !important;
	text-shadow: 1px 1px 3px #000;
}
#acc_welcometext p::first-letter{
	font-family: "Vanilla";
	font-size: 22px;
	color: #046259;
	text-shadow: 3px 3px 4px #000;
}
#acc_welcometext em{
	font-weight: bold;
	color: rgb(0, 64, 94);
	text-shadow: 2px 2px 3px #777;
}
#acc_welcometext a{
	font-family: "NoteThis";
	font-size: 20px;
	font-weight: bold;
	color: #000;
	text-shadow: 1px 1px 2px #C1C1C1;
	text-decoration: underline;
}
#acc_welcometext a:hover{
	text-decoration: none;
	color: #C1C1C1;
	text-shadow: 3px 3px 4px #000;
}
#acc_welcometext cite{
	font-family: "Desyrel";
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.085em;
	color: #000;
	text-shadow: 1px 1px 2px #C1C1C1;
}
#acc_welcometext strong{
	font-size: larger;
	text-shadow: 1px 1px 2px #000;
}
#secAccueilMain{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
	padding-top: 10px;
	margin-bottom: 20px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	-webkit-box-shadow: 6px 4px 12px #000000;
	-moz-box-shadow: 6px 4px 12px #000000;
	box-shadow: 6px 4px 12px #000000;
}
#secAccueilMain label{
	background-color: transparent;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
#secAccueilMain label a{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 0px 10px 30px;
	background-color: hsl(96, 0%, 20%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2b2b2", endColorstr="#333333");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#b2b2b2), to(#333333));
    background-image: -moz-linear-gradient(top, #b2b2b2, #333333);
    background-image: -ms-linear-gradient(top, #b2b2b2, #333333);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2b2b2), color-stop(100%, #333333));
    background-image: -webkit-linear-gradient(top, #b2b2b2, #333333);
    background-image: -o-linear-gradient(top, #b2b2b2, #333333);
    background-image: linear-gradient(#b2b2b2, #333333);
    border-color: #333333 #333333 hsl(96, 0%, 7.5%);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.82);
    -webkit-font-smoothing: antialiased;
	font-family: "CaptureIt";
	font-size: 20px;
	letter-spacing: 0.08em;
	color: #046259 !important;
	text-shadow: 2px 2px 5px #000018;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	transition-property: all;
	-moz-transition-property: all;
	-webkit-transition-property: all;
	transition-duration: 1550ms;
	-moz-transition-duration: 1550ms;
	-webkit-transition-duration: 1550ms;
}
#secAccueilMain label a:hover{
	color: #000018;
	text-shadow: 2px 2px 5px #046259;
}
#acc_divme img{
	height: 140px;
}
/* ** Gestion des blocs ** */
#accCandidat,#accCoding{
	opacity: 0.9;
	background-color: #999;
	padding: 15px 50px 5px 50px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	color: #002A3A !important;
	cursor: default;
}
#accCandidat:target,#accCoding:target,#acc_divme{
	display: flex;
	justify-content: center;
	align-items: center;
}
.accRubTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	padding-top: 20px;
	font-family: "OldStamper";
	font-size: 16px;
	letter-spacing: 0.055em;
	color: #002A3D;
	text-shadow: 1px 1px 3px #046259;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
.accRubText{
	background-color: transparent;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	font-family: "Acme";
	font-size: 22px;
	letter-spacing: 0.045em;
	color: #002A3D;
	text-shadow: 1px 1px 3px #999;
	cursor: default;
}
.accRubText::first-letter{
	margin: 0px 3px 0px 0px;
	font-size: 28px;
	color: #002A3D;
	text-shadow: 2px 2px 4px #037A63;
}
#accUlText{
	padding-left: 15%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	text-align: justify;
	font-family: "Acme";
	font-size: 22px;
	letter-spacing: 0.045em;
	color: #002A3D;
	text-shadow: 1px 1px 3px #999;
}
#accUlText li{
	vertical-align: middle;
}
#accUlText li a{
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
	vertical-align: top;
	color: #037A63;
	text-shadow: 1px 1px 2px #000;
	text-decoration: none;
}
#accParcours{
	display: inline-block;
	text-align: center;
}
.accRubText a,#accParcours a{
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
	vertical-align: top;
	color: #037A63;
	text-shadow: 1px 1px 2px #000;
	text-decoration: underline;
}
#accParcours a{
	letter-spacing: 0.05em;
}
.accRubText a:hover,#accParcours a:hover,#accUlText li a:hover{
	color: #009DA5;
	text-shadow: 1px 1px 3px #000;
	text-decoration: none;
}
.subLabel{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 10px;
	background-color: transparent;
	font-family: "CaptureIt";
	font-size: 24px;
	color: #002A3D;
	text-shadow: 2px 2px 4px #037A63;
}
/***** ***** ***** ***** ***** ***** ***** ***** *****/
/* * *** ***** ***** Media queries ***** ***** *** * */
/***** ***** ***** ***** ***** ***** ***** ***** *****/
/* *** *** *** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	#tab-site-header td{
		font-size: 54px;
	}
	.img-logosite{
		height: 68px;
	}
	h1,h1 a{
		font-size: 34px;
	}
	h2,h2 a{
		font-size: 28px;
	}
	h3,h3 a{
		font-size: 24px;
	}
	.site-author,.site-powering{
		font-size: 22px;
	}
	#accWelcome{
		font-size: 50px;
	}
	#accWelcomeSub{
		font-size: 40px;
	}
	.accRubTitle{
		font-size: 20px;
	}
	#footer article,#contacts label,#powering label{
		margin-bottom: 4px;
		padding: 4px 0px 4px 0px;
	}
	#powering label{
		font-size: 16px;
	}
	#powering p{
		font-size: 11px;
	}
	#contacts label{
		font-size: 22px;
	}
	#contacts address{
		padding-top: 2px; 
		padding-bottom: 2px;
	}
	#contacts address a{
		padding: 2px 10px 2px 10px;
		font-size: 10px;
		letter-spacing: 0.035em;
	}
}
/* *** *** *** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#tab-site-header td{
		font-size: 64px;
	}
	.img-logosite{
		height: 96px;
	}
	.site-author{
		font-size: 28px;
	}
	h1,h1 a{
		font-size: 38px;
	}
	h2,h2 a{
		font-size: 32px;
	}
	h3,h3 a{
		font-size: 28px;
	}
	#navbarFullSite ul li a{
		font-size: 18px;
	}
	.linktotop a{
		font-size: 16px;
	}
	#accWelcome{
		font-size: 70px;
	}
	#accWelcomeSub{
		font-size: 50px;
	}
	#secAccueilMain label a{
		font-size: 26px;
	}
	.accRubTitle{
		font-size: 28px;
	}
	#powering label{
		font-size: 20px;
	}
	#powering p{
		font-size: 13px;
	}
	#contacts label{
		padding: 6px 0px 6px 0px;
		font-size: 28px;
	}
	#contacts address a{
		font-size: 15px;
		letter-spacing: 0.035em;
	}
}
/* *** *** *** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#tab-site-header td{
		font-size: 80px;
	}
	.img-logosite{
		height: 128px;
	}
	.site-author{
		font-size: 28px;
	}
	#php-version{
		font-size: 26px;
	}
	h1,h1 a{
		font-size: 42px;
	}
	h2,h2 a{
		font-size: 36px;
	}
	h3,h3 a{
		font-size: 32px;
	}
	#navbarFullSite ul li a{
		font-size: 20px;
	}
	.linktotop a{
		font-size: 18px;
	}
	#secAccueilMain label a{
		font-size: 32px;
	}
	#accWelcome{
		font-size: 80px;
	}
	#accWelcomeSub{
		font-size: 60px;
	}
	#acc_welcometext{
		background-color: hsl(153, 33%, 29%) !important;
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fae8b", endColorstr="#31624c");
		background-image: -khtml-gradient(linear, left top, left bottom, from(#5fae8b), to(#31624c));
		background-image: -moz-linear-gradient(top, #5fae8b, #31624c);
		background-image: -ms-linear-gradient(top, #5fae8b, #31624c);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5fae8b), color-stop(100%, #31624c));
		background-image: -webkit-linear-gradient(top, #5fae8b, #31624c);
		background-image: -o-linear-gradient(top, #5fae8b, #31624c);
		background-image: linear-gradient(#5fae8b, #31624c);
		border-color: #31624c #31624c hsl(153, 33%, 23%);
		-webkit-font-smoothing: antialiased;
		font-size: 20px;
	}
	#acc_welcometext a{
		font-size: 24px;
	}
	#accCandidat,#accCoding{
		background-color: hsl(96, 0%, 20%) !important;
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2b2b2", endColorstr="#333333");
		background-image: -khtml-gradient(linear, left top, left bottom, from(#b2b2b2), to(#333333));
		background-image: -moz-linear-gradient(top, #b2b2b2, #333333);
		background-image: -ms-linear-gradient(top, #b2b2b2, #333333);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2b2b2), color-stop(100%, #333333));
		background-image: -webkit-linear-gradient(top, #b2b2b2, #333333);
		background-image: -o-linear-gradient(top, #b2b2b2, #333333);
		background-image: linear-gradient(#b2b2b2, #333333);
		border-color: #333333 #333333 hsl(96, 0%, 7.5%);
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.82);
		-webkit-font-smoothing: antialiased;
	}
	.accRubTitle{
		font-size: 30px;
	}
	#powering label{
		font-size: 22px;
	}
	#powering p{
		font-size: 15px;
	}
	#contacts label{
		font-size: 28px;
	}
	#contacts address a{
		font-size: 14px;
		letter-spacing: 0.035em;
	}
}
/* *** *** *** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#tab-site-header td{
		font-size: 84px;
	}
	footer{
		width: 70%;
		margin-left: 15%;
	}
	#contacts address a{
		font-size: 16px;
	}
	.site-author{
		font-size: 34px;
	}
	h1,h1 a{
		font-size: 46px;
	}
	h2,h2 a{
		font-size: 40px;
	}
	#navbarFullSite ul li a{
		font-size: 22px;
	}
	#secAccueilMain label a{
		font-size: 38px;
	}
	.linktotop a{
		font-size: 20px;
	}
	.accRubTitle{
		font-size: 30px;
	}
	.accRubText{
		font-size: 24px;
	}
	#acc_welcometext{
		padding: 20px 40px 20px 40px;
	}
	#acc_welcometext p{
		line-height: 50px;
	}
	#acc_welcometext p cite{
		font-size: 24px;
	}
	.accRubTitle{
		font-size: 34px;
	}
	#contacts label{
		font-size: 34px;
	}
	#powering label{
		font-size: 30px;
	}
}
/* Extra large devices (large desktops)
   No media query since the extra-large breakpoint has no upper bound on its width */