/*************************************************************************************************
 *   	FredLab Projects Incorporated
 *                Projet :   FredLab
 *                  Page :   news.css
 *                Chemin :   http://www.fred-lab.com/config/css/news.css
 *                  Type :   page de modules
 * 				Contexte :	 Css 3.0
 *              Fonction :   page de styles d'affichage CSS (news.php)
 *   Date mise en oeuvre :   27/10/2020
 *          Dernière MàJ :   27/10/2020
 *************************************************************************************************/
/***** ***** ***** Containers ***** ***** *****/
#secNews{
    opacity: 0.9;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: #000;
    border: 2px inset #009175;;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
/***** ***** ***** Classes et balises ***** ***** *****/
.newsItem{
    opacity: 0.9;
    margin-top: 10px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.newsDate, .newsSub{
	background-color: #444;
}
.newsDate{
	color: #037A63;
	font-family: "SecretTypeWriter";
	font-size: 21px;
	text-shadow: 1px 1px 1px #000;
	border: 1px inset #046259;
	border-top-left-radius: 25px;
}
.newsSub{
	color: #037A63;
	font-family: "CaptureIt";
	font-size: 24px;
	text-shadow: 2px 1px 1px #000;
	border: 1px inset #046259;
}
.newsText{
	padding: 10px 50px 10px 50px;
	color: #000;
	font-family: "Banksia";
	font-size: 18px;
	font-weight: 300;
	text-shadow: 1px 1px 1px #555;
	text-align: justify;
	border-bottom-right-radius: 25px;
}